.menu-block {
  border: 1px solid #000;
  border-left: 0px;
  height: 600px;
}
.linck-icon {
  font-size: 2.5rem;
  transition: 1s;
}
.linck-icon:hover {
  transform: scale(1.2);
}
.btn-back {
  border-radius: 0.25rem 0 0 0.25rem;
}
.btn-pages {
  border-radius: 0;
}
.btn-forward {
  border-radius: 0 0.25rem 0.25rem 0;
}
.btn-forward-icon {
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 20px;
}
.btn-back-icon {
  padding-bottom: 3px;
  padding-right: 3px;
  font-size: 20px;
}
.card-img {
  width: 100%;
  height: 180px;
  background-color: #ffce38;
}
